<main id="scroll">
  {{#each rant in controller}}
    {{#if rant.isEditing}}
    <div class="rant-box">
      <header class="rant-header">
        <h3 class="rant-header-title">
          {{input class="rant-header-focus" autofocus="true" value=rant.title}}
        </h3>
          <div class="rant-action">
            <button class="button" {{action 'saveRant' rant}}>
              <i class="fa fa-save"></i> Save
            </button>
            <button class="button button-default" {{action 'cancelRant' rant}}>
              <i class="fa fa-share-square-o"></i> Cancel
            </button>
            <button class="button button-warning" {{action 'deleteRant' rant}}>
              <i class="fa fa-trash-o"></i> Delete
            </button>
          </div>
      </header>
      <aside>
        <div>{{gravatar-image email= rant.user.email class='user-photo'}}</div>
        {{rant.body.length}}
        Characters
        <div class="errors">

        </div>
      </aside>
      <section class="rant-content">
        <p>
          {{textarea value=rant.body }}
        </p>
      </section>
    </div>

    {{else}}

    <div class="rant-box">
      <header class="rant-header">
        {{#link-to 'rant' rant.id}}
          <h3 class="rant-title">
            {{rant.title}}
          </h3>
        {{/link-to}}
        {{#if rant.rantMatch}}
          <div class="rant-action">
            <button class="button" {{action 'editRant' rant}}>
              <i class="fa fa-pencil-square-o"></i> Edit
            </button>
          </div>
        {{/if}}
      </header>
      <aside>
        <div>{{gravatar-image email= rant.user.email class='user-photo'}}</div>
      </aside>
      <section class="rant-content">
        <p>{{rant.body}}</p>
      </section>
    </div>
    {{/if}}
  {{/each}}
</main>
