<main id="scroll">
  <form class="rant-form">
    <header class="rant-header">
      <div class="rant-header-title">
        {{input class="rant-header-focus" placeholder="Rant Title" autofocus="true" value=titleCopy}}
      </div>
      <div class="rant-action">
        <button class="button" {{action 'newRant'}}>
          <i class="fa fa-save"></i> Save
        </button>
        {{#link-to 'rants.index' class="new-cancel"}}
          <button class="button button-default">
            <i class="fa fa-share-square-o"></i> Cancel
          </button>
        {{/link-to}}
      </div>
    </header>
    <aside>
      <div>{{gravatar-image email=userEmail class='user-photo'}}</div>
      {{#if bodyCopy}}
        {{bodyCopy.length}}
      {{else}}
        0
      {{/if}}
      Characters
      <div class="errors">

      </div>

    </aside>
    <section class="rant-content">
      {{textarea placeholder="Start your rant" autofocus="true" value=bodyCopy rows="13"}}
    </section>
  </form>
</main>
