{{#if results}}
  <main id="scroll">
    {{#each rant in results}}
      {{#if isEditing}}
        <div class="rant-box">
          <header class="rant-header">
            <h3 class="rant-header-title">
              {{input class="rant-header-focus" autofocus="true" value=rant.title}}
            </h3>
            <div class="rant-action">
              <button class="button" {{action 'saveRant' this}}>
                <span class="icon-upload">Save</span>
              </button>
              <button class="button button-default" {{action 'cancelRant' this}}>
                <span class="icon-exit">Cancel</span>
              </button>
              <button class="button button-default" {{action 'deleteRant' this}}>
                <span class="icon">Delete</span>
              </button>
            </div>
          </header>
          <aside>
            <div style="background-image: url(http://www.gravatar.com/avatar/{{rant.user.email}})" class="user-photo">
            </div>
          </aside>
          <section class="rant-content">
            <p>
              {{textarea value=rant.body }}
            </p>
          </section>
        </div>
      {{else}}
        <div class="rant-box">
          <header class="rant-header">
            <h3 class="rant-title">
              {{#link-to 'rant' this}}
              {{rant.title}}
              {{/link-to}}
            </h3>
            <div class="rant-action">
              <button class="button" {{action 'editRant' rant}}>Edit</button>
            </div>
          </header>
          <aside>
            <div style="background-image: url(http://www.gravatar.com/avatar/)" class="user-photo">
            </div>
          </aside>
          <section class="rant-content">
            <p>{{rant.body}}</p>
          </section>
        </div>
      {{/if}}
    {{/each}}
  </main>

{{else}}

  <div class>
    <header class="droid-header">
      <h3 class="droid-header-title">
        These aren't the droids you are looking for.
      </h3>
    </header>
    <section class="droid-content">
      <p>
        Keep searching.
      </p>
    </section>
  </div>

{{/if}}
