<nav>
  <header class="logo">
    {{#link-to 'rants'}}Rantly{{/link-to}}
  </header>
  <header class="rantly">
    {{#link-to 'rants'}}Rants{{/link-to}}
    {{#link-to 'users'}}Users{{/link-to}}
    {{#link-to 'signup'}}Sign Up{{/link-to}}
  </header>
</nav>
<div class="wrapper">
  <aside>
    <header class="main">
      <div class="rant-search">
        {{input type="search" class="rant-search-field" placeholder="Search" value=search action="queryRants"}}
      </div>
    </header>
    {{#if loggedIn}}
    <div class="log-in">
      <div style="background-image: url(http://www.gravatar.com/avatar/)" class="user-photo"></div>
      <button class="button register-button " {{action 'signOut'}}>
        Log out
      </button>
    </div>
    {{else}}
      <form class="log-in">
        <i class="fa fa-user fa-lg log-in-field log-in-email"></i>
        {{input class="email" placeholder="Your Email" value=emailHere}}
        <i class="fa fa-lock fa-lg log-in-field log-in-pass"></i>
        {{input class="pass" placeholder="Your Password" value=passwordHere type="password"}}
        <button class="button register-button" {{action 'signIn'}}>
          Log in
        </button>
        {{#if errorMessage}}
        <div>{{errorMessage}}</div>
        {{/if}}
      </form>
    {{/if}}
  </aside>

  <section class="content">
    <header class="main">
      {{#link-to 'rants.new'}}
        <button class="button-invert button new-button">
          New Rant
        </button>
      {{/link-to}}
    </header>
    <div class="flash-message">
      <h2>{{message-queue}}</h2>
    </div>
    {{outlet}}
  </section>

</div>
