<main>
  {{#if isEditing}}
  <div class="rant-box">
    <header class="rant-header">
      <h3 class="rant-header-title">
        {{input class="rant-header-focus" autofocus="true" value=title}}
      </h3>
      <div class="rant-action">
        <button class="button" {{action 'saveRant' this}}>
          <i class="fa fa-save"></i> Save
        </button>
        <button class="button button-default" {{action 'cancelRant' this}}>
          <i class="fa fa-share-square-o"></i> Cancel
        </button>
        <button class="button button-warning" {{action 'deleteRant' this}}>
          <i class="fa fa-trash-o"></i> Delete
        </button>
      </div>
    </header>
    <aside>
      <div style="background-image: url(http://www.gravatar.com/avatar/)" class="user-photo">
      </div>
      {{body.length}}
      Characters
      <div class="errors">

      </div>
    </aside>
    <section class="rant-content">
      <p>
        {{textarea value=body rows="13"}}
      </p>
    </section>
  </div>
  {{else}}
  <div class="rant-box">
    <header class="rant-header">
      <h3 class="rant-title">{{title}}</h3>
      <div class="rant-action">
        <button class="button" {{action 'editRant' rant}}>Edit</button>
      </div>
    </header>
    <aside>
      <div style="background-image: url(http://www.gravatar.com/avatar/)" class="user-photo">
      </div>
      This rant has {{body.length}} characters.
    </aside>
    <section class="rant-content">
      <p>{{body}}</p>
    </section>
  </div>
  {{/if}}
</main>
