<main>
  <div class="errors text-center">

  </div>
  <form class="register-form">
    {{input placeholder="First Name" value=fnameCopy type=text}}
    {{input placeholder="Last Name" value=lnameCopy}}
    {{input placeholder="Email" value=emailCopy}}<i class="fa fa-lock fa-lg register-field"></i>
    {{input placeholder="Password" value=passwordCopy type="password"}}<i class="fa fa-lock fa-lg register-field"></i>
    {{input placeholder="Password Confirmation" value=passwordConfirm type="password"}}
    <button class="button register-button" {{action 'register'}}>
      Sign Up
    </button>
  </form>
</main>
