<div class="user-show">
  <aside>
    <h5>
      {{firstName}}
      {{lastName}}
    </h5>
    <h6>
      {{email}}
    </h6>
  </aside>
  <div style="background-image: url(http://www.gravatar.com/avatar/)" class="user-photo-show">
  </div>
</div>

<main id="scroll">

  {{#each rant in rants}}
    <div class="rant-box">
      <header class="rant-header">
        {{#link-to 'rant' rant.id}}
        <h3 class="rant-title">
          {{rant.title}}
        </h3>
        {{/link-to}}
      </header>
      <section class="rant-content full-width">
        <p>{{rant.body}}</p>
      </section>
    </div>
  {{/each}}
</main>
